# Tratamento de dados

Projeto de técnicas de programação

- Guilherme Araújo Mendes de Souza

Bibliotecas

In [29]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import matplotlib.pyplot as plt

Sigla dos estados

In [30]:
sigla_dos_estados = {
    'Acre': 'AC', 'Alagoas': 'AL', 'Amapa': 'AP', 'Amazonas': 'AM', 
    'Bahia': 'BA', 'Ceara': 'CE', 'Distrito Federal': 'DF', 'Espirito Santo': 'ES', 
    'Goias': 'GO', 'Maranhao': 'MA', 'Mato Grosso': 'MT', 'Mato Grosso do Sul': 'MS', 
    'Minas Gerais': 'MG', 'Pará': 'PA', 'Paraiba': 'PB', 'Parana': 'PR', 
    'Pernambuco': 'PE', 'Piau': 'PI', 'Rio': 'RJ', 'Rio Grande do Norte': 'RN', 
    'Rio Grande do Sul': 'RS', 'Rondonia': 'RO', 'Roraima': 'RR', 'Santa Catarina': 'SC', 
    'Sao Paulo': 'SP', 'Sergipe': 'SE', 'Tocantins': 'TO'
}

Leitura dos dados

In [31]:
df_amazon = pd.read_csv('../Data/amazon.csv', encoding='ISO-8859-1')
df_data_p1 = pd.read_csv('../Data/output_data_part1.csv', sep= ';', index_col= False)
df_data_p2 = pd.read_csv('../Data/output_data_part2.csv', sep= ';', index_col= False)

C:\Users\guilh\AppData\Local\Temp\ipykernel_1992\1351230702.py:2: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  df_data_p1 = pd.read_csv('../Data/output_data_part1.csv', sep= ';', index_col= False)
C:\Users\guilh\AppData\Local\Temp\ipykernel_1992\1351230702.py:3: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  df_data_p2 = pd.read_csv('../Data/output_data_part2.csv', sep= ';', index_col= False)

Pré-vizualização dos dados

In [32]:
df_amazon.head()

   year state    month  number        date
0  1998  Acre  Janeiro     0.0  1998-01-01
1  1999  Acre  Janeiro     0.0  1999-01-01
2  2000  Acre  Janeiro     0.0  2000-01-01
3  2001  Acre  Janeiro     0.0  2001-01-01
4  2002  Acre  Janeiro     0.0  2002-01-01

In [33]:
df_data_p1.head()

,CodigoOMM,NomeEstacao,Estado,EstadoDesc,EstadoRegiao,Latitude,Longitude,Altitude,EstacaoStituacao,OperanteDesde,...,UmidadeRelativa,PressaoAtmEstacao,PressaoAtmMar,DirecaoVento,VelocidadeVentoInsolacao,Nebulosidade,Evaporacao Piche,Temp Comp Media,Umidade Relativa Media,Velocidade do Vento Media
0,82989,AGUA BRANCA,AL,Alagoas,Nosdeste,-9.28,-37.9,605.34,Estação Operante,05/05/1928,...,91.0,943.6,1010.2,14.0,7.0,11.3,0.0,7.8,25.92,89.0
1,82989,AGUA BRANCA,AL,Alagoas,Nosdeste,-9.28,-37.9,605.34,Estação Operante,05/05/1928,...,88.0,945.7,1012.3,5.0,5.0,NaN,1.0,NaN,NaN,NaN
2,82989,AGUA BRANCA,AL,Alagoas,Nosdeste,-9.28,-37.9,605.34,Estação Operante,05/05/1928,...,89.0,943.7,1010.1,14.0,5.0,10.5,0.0,8.4,27.26,87.0
3,82989,AGUA BRANCA,AL,Alagoas,Nosdeste,-9.28,-37.9,605.34,Estação Operante,05/05/1928,...,82.0,944.5,1010.8,5.0,7.0,NaN,3.0,NaN,NaN,NaN
4,82989,AGUA BRANCA,AL,Alagoas,Nosdeste,-9.28,-37.9,605.34,Estação Operante,05/05/1928,...,90.0,942.7,1008.7,14.0,5.0,8.9,0.0,10.5,26.68,87.0

In [34]:
df_data_p2.head()

,CodigoOMM,NomeEstacao,Estado,EstadoDesc,EstadoRegiao,Latitude,Longitude,Altitude,EstacaoStituacao,OperanteDesde,...,UmidadeRelativa,PressaoAtmEstacao,PressaoAtmMar,DirecaoVento,VelocidadeVentoInsolacao,Nebulosidade,Evaporacao Piche,Temp Comp Media,Umidade Relativa Media,Velocidade do Vento Media
0,82791,PATOS,PB,Paraiba,Nordeste,-7.01,-37.26,249.09,Estação Operante,17/10/1975,...,53.0,981.5,1008.9,9.0,4.8,11.3,0.0,13.0,30.24,51.25
1,82791,PATOS,PB,Paraiba,Nordeste,-7.01,-37.26,249.09,Estação Operante,17/10/1975,...,56.0,985.3,1012.9,9.0,4.5,NaN,7.0,NaN,NaN,NaN
2,82791,PATOS,PB,Paraiba,Nordeste,-7.01,-37.26,249.09,Estação Operante,17/10/1975,...,33.0,980.2,1007.6,14.0,3.3,NaN,6.0,NaN,NaN,NaN
3,82791,PATOS,PB,Paraiba,Nordeste,-7.01,-37.26,249.09,Estação Operante,17/10/1975,...,58.0,982.3,1008.3,5.0,4.8,10.5,9.0,9.1,29.34,56.75
4,82791,PATOS,PB,Paraiba,Nordeste,-7.01,-37.26,249.09,Estação Operante,17/10/1975,...,60.0,985.0,1012.6,5.0,3.0,NaN,7.0,NaN,NaN,NaN

Padronização das datas

In [35]:
df_data_p1['Data'] = pd.to_datetime(df_data_p2['Data'], format='%d/%m/%Y', errors='coerce')

df_data_p2['Data'] = pd.to_datetime(df_data_p2['Data'], format='%d/%m/%Y', errors='coerce')

In [36]:
df_amazon['date'] = pd.to_datetime(df_amazon['date'])
df_amazon['date'] = pd.to_datetime(df_amazon['date'], format='%d/%m/%Y')

In [37]:
df_data_p1['Data'] = pd.to_datetime(df_data_p1['Data'])
df_data_p1['Data'] = pd.to_datetime(df_data_p1['Data'], format='%d/%m/%Y')

In [38]:
df_data_p2['Data'] = pd.to_datetime(df_data_p2['Data'])
df_data_p2['Data'] = pd.to_datetime(df_data_p2['Data'], format='%d/%m/%Y')

Filtragem dos DF´s

In [39]:

df_amazon = df_amazon[(df_amazon['date'] <= pd.Timestamp(year=2017, month=12, day=31)) & (df_amazon['date'] >= pd.Timestamp(year=2012, month=1, day=1))]

df_data_p1 = df_data_p1[(df_data_p1['Data'] <= pd.Timestamp(year=2017, month=12, day=31)) & (df_data_p1['Data'] >= pd.Timestamp(year=2012, month=1, day=1))]

df_data_p2 = df_data_p2[(df_data_p2['Data'] <= pd.Timestamp(year=2017, month=12, day=31)) & (df_data_p2['Data'] >= pd.Timestamp(year=2012, month=1, day=1))]

Concatenação dos dataframe df_data_p1 e df_data_p2

In [40]:
df_data = pd.concat([df_data_p1, df_data_p2], ignore_index=True)

In [41]:
filtro = df_data[['Estado', 'EstadoDesc', 'Data', 'Precipitacao', 'TempMaxima', 'TempMinima', 'UmidadeRelativa']]

In [42]:
media_mensal = filtro.groupby(['Estado', 'EstadoDesc', pd.Grouper(key='Data', freq='M')]).mean()

media_mensal = media_mensal.reset_index()

Concatenação dos dataframe media_mensal e df_amazon

In [43]:
df_amazon.rename(columns={'state': 'EstadoDesc', 'date': 'Data'}, inplace=True)

In [44]:
df_amazon['Data'] = pd.to_datetime(df_amazon['Data'])
media_mensal['Data'] = pd.to_datetime(media_mensal['Data'])

In [45]:
df_amazon['AnoMes'] = df_amazon['Data'].dt.to_period('M')

media_mensal['AnoMes'] = media_mensal['Data'].dt.to_period('M')

In [50]:
df_amazon['Estado'] = [sigla_dos_estados[estado] for estado in df_amazon['EstadoDesc']]

In [51]:
df = pd.merge(df_amazon, media_mensal, on=['Estado', 'AnoMes'])

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1776 entries, 0 to 1775
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   year             1776 non-null   int64
 1   EstadoDesc_x     1776 non-null   object
 2   month            1776 non-null   object
 3   number           1776 non-null   float64
 4   Data_x           1776 non-null   datetime64[ns]
 5   AnoMes           1776 non-null   period[M]
 6   Estado           1776 non-null   object
 7   EstadoDesc_y     1776 non-null   object
 8   Data_y           1776 non-null   datetime64[ns]
 9   Precipitacao     1776 non-null   float64
 10  TempMaxima       1776 non-null   float64
 11  TempMinima       1776 non-null   float64
 12  UmidadeRelativa  1776 non-null   float64
dtypes: datetime64[ns](2), float64(5), int64(1), object(4), period[M](1)
memory usage: 180.5+ KB

In [54]:
df.drop(['year', 'month', 'Data_x', 'Data_y'], axis=1, inplace=True)

In [55]:
df.isnull().sum()

EstadoDesc_x       0
number             0
AnoMes             0
Estado             0
EstadoDesc_y       0
Precipitacao       0
TempMaxima         0
TempMinima         0
UmidadeRelativa    0
dtype: int64

In [56]:
df.to_csv('../Data/Dataset.csv', index=False)